<div class="row">

  <app-card class="col-lg-3 col-md-6 col-sm-6"
              title="Doorgenomen hoofdstukken"
                iconName="done"
                  [count]="totalCompletedChapters"
                    [countTotal]="totalChapters"
                      [completed]="true"></app-card>

  <app-card class="col-lg-3 col-md-6 col-sm-6"
              title="Op te nemen"
                iconName="thumb_down_alt"
                  [count]="totalUncompletedChapters"
                    [countTotal]="totalChapters"></app-card>
</div>
