<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <mat-form-field>
    <mat-label>Naam van de vak</mat-label>
    <input
      #inputTitle
        matInput
          (keydown.enter)="onConfirm()"
            [(ngModel)]="themeTitle"
              data-cy="inputWorksTheme"/>
    <button
      *ngIf="themeTitle.trim().length > 0"
        class="dialog-chapter-title"
          class="clear-icon"
            mat-button mat-icon-button matSuffix aria-label="Clear"
            (click)="themeTitle=''">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>


<mat-dialog-actions>

  <div class="col-12 text-center">

      <button mat-raised-button color="primary"
                (click)="onConfirm()"
                  [disabled]="inputTitle.value.trim().length == 0">Opslaan</button>

      <button mat-raised-button
                (click)="onCancel()"
                  data-cy="cancelInputTheme">Cancel</button>
  </div>

  <div class="col-12 text-center">
    <button
      *ngIf="canDelete()"
          mat-button class="red"
            (click)="delete()"
             >
      Delete
    </button>
  </div>

</mat-dialog-actions>
