
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.pointer{
  cursor: pointer;
}
.red{
  color: red;
}

.link{
  text-decoration: underline;
  cursor: pointer;
}
